In [1]:
import re
import pandas as pd 
import numpy as np

In [5]:
dep = pd.read_csv('dataset/akuDepresi_Filtered.csv')
nonDep = pd.read_csv('dataset/sentimenIndonesia_Filtered.csv')

In [9]:
# depNew = dep.iloc[:,]
dep['label'] = 1
dep.to_csv('dataset/akuDepresi_Filtered_Labeled.csv', index=False)

In [13]:
nonDepNew = nonDep.iloc[:,1:2]
nonDepNew['label'] = 0
nonDepNew.to_csv('dataset/sentimenIndonesia_Filtered_Labeled.csv', index=False)

In [15]:
dd = pd.read_csv('dataset/akuDepresi_Filtered_Labeled.csv')
dp = pd.read_csv('dataset/sentimenIndonesia_Filtered_Labeled.csv')

                                               Tweet  label
0  doa rezeki tak putus inna haa zaa larizquna ma...      0
1  makasih loh ntar kita bagi hasil aku 99 9 sisa...      0
2  ya aku akan menjadi satu satunya bukan nomor s...      0
3  i dont know why but these zikir sangat membant...      0
4            aah kamu aja mas aku lebih suka diayomi      0